/* Import google fonts*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #FAF8FF;
  color: #d35400;
}

#map-canvas {
	margin: 0 auto;
	padding: 0;
	height: 300px;
	width:100%;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#map-canvas:hover {
	/*-webkit-filter: blur(0);*/
}

.blur {
	-webkit-filter: blur(10px);
}

.alpha--banner {
	padding: 0;
	margin: 0;
	display: block;
	top:0;
	left:0;
	width:100%;
	text-align: center;
	background-color: #c0392b;
	color:#fff;
}
	.alpha--banner p {
		padding: 1em;
		margin: 0;
	}

header {
	width: 800px;
	margin:0 auto;
	padding:1em;
}

.postcode {
	display:none;
	position: absolute;
	left:0;
	top:300px;
	width:100%;
	text-align: center;
}

.display-timetable {
	margin-top: 20px;
	padding: 1em;
}

	.display-list {
		list-style: none;
	}

	.display-list li {
		padding-bottom: 0.5rem;
	}

@media (max-width: 320px) {
	header, .display-timetable {
		padding:0 .5em;
	}
	header p {
		font-size: 10px;
	}
	#map-canvas {
		height: 200px;
	}
}