/* Import google fonts*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

* {
	/*display: block;*/
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #FAF8FF;
  color: #d35400;
}

#map-canvas {
	margin: 0 auto;
	padding: 0;
	height: 300px;
	width:100%;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#map-canvas:hover {
	/*-webkit-filter: blur(0);*/
}

.blur {
	-webkit-filter: blur(10px);
}

.main {
	margin: 0 auto;
	padding:1em;
	max-width:800px;
}

.alpha-banner {
	display: block;
	top:0;
	left:0;
	width:100%;
	text-align: center;
	background-color: #c0392b;
	color:#fff;
}
	.alpha-banner p {
		padding: 1em;
	}

.postcode {
	display:none;
	position: absolute;
	left:0;
	top:250px;
	width:100%;
	text-align: center;
}

.display-timetable {
	margin-top: 20px;
}

	.display-list {
		list-style: none;
	}

	.display-list li {
		background-color: rgba(0,0,0,0.1);
		padding: 1em;
		border-top:1px solid #666;
		border-bottom:1px solid #666;
		height: 100px;
	}
	.display-list .close {
		/*background-color: rgba(255,0,0,0.3);*/
		background-color: #c0392b;
		color: white;
	}
	.display-list .not-so-close {
		background-color: rgba(0,255,0,0.3);
	}
	.display-list .number {
		font-size: 36px;
		font-weight: bold;
	}

	.left-list, .right-list{
		display: inline-block;
	}

	.right-list {
		float: right;
		height:100%;
	}
	.right {
		line-height: 66px;
	}

@media (max-width: 400px) {
	.display-list .number {
		font-size: 24px;
		font-style: bold;
	}
	.display-list .towards-text {
		font-size:12px;
	}

}

@media (max-width: 320px) {
	.alpha-banner {
		font-size: 10px;
	}
	.main {
		padding:.5em;
		width:100%;
	}
	header p {
		font-size: 7px;
	}
	#map-canvas {
		height: 200px;
	}
}